@model PizzaWebsite.Models.LoginViewModel
@{
    ViewData["Title"] = "Sign In";
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-7">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger text"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger text"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input asp-for="IsEmployee" type="checkbox" class="custom-control-input">

                    <label asp-for="IsEmployee" class="custom-control-label">
                        @Html.DisplayNameFor(m => m.IsEmployee)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input asp-for="RememberMe" type="checkbox" class="custom-control-input">

                    <label asp-for="RememberMe" class="custom-control-label"> 
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
</div>