
<div class="container" style=" display: flex; align-items: center; justify-content: space-around; padding-left: 8rem; padding-right: 8rem; padding-top:.5rem; padding-bottom: .5rem">

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>

    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Job">Careers</a>

    <partial name="Footer/_SocialMediaPartial" />
</div>
