@model PizzaWebsite.Models.AboutViewModel

<h1>@ViewData["Title"]</h1>

<!--Source: https://www.pizzabellasd.com/gallery/-->
<img src="~/images/about-us/pizza-restaurant.jpg" alt="Pizza Restaurant">

<!--Source: https://www.inyourpocket.com/tallinn/dodo-pizza_142563v-->
<img src="~/images/about-us/pizza-meal.jpg" alt="Pizza Meal">

<!--Source: https://www.ebay.co.uk/itm/White-Plain-Pizza-Boxes-Takeaway-Pizza-Box-Strong-Postal-Boxes-7-20-Inch/253343830322-->
<img src="~/images/about-us/pizza-box.jpg" alt="Pizza Box">

