@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- Assisted by: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named -->
<div class="grid-container">
    <div class="product-category">
        <!-- Source: https://www.huffpost.com/entry/xbox-pizza-hut_n_4570898 -->
        <img src="~/images/menu/meat-lovers-pizza.jpg" alt="Pizza" />
    </div>
    <div class="product-category">
        <!-- Source: https://www.livestrong.com/article/306908-how-many-calories-does-soda-have/ -->
        <img src="~/images/menu/fanta.jpg" alt="Drink" />
    </div>
    <div class="product-category">
        <!-- Source: https://www.thelist.com/227723/this-is-the-trick-to-making-juicy-burgers/ -->
        <img src="~/images/menu/all-dressed-burger.jpg" alt="Burger" />
    </div>
    <div class="product-category">
        <!-- Source: https://www.delish.com/cooking/recipe-ideas/a28349714/double-fried-french-fries-recipe/ -->
        <img src="~/images/menu/french-fries.jpg" alt="Side Dish" />
    </div>
</div>

<link rel="stylesheet" href="~/css/product-menu.css" />


