@{
    ViewData["Title"] = "Burger Menu";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- Assisted by: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named -->
<!-- Image Sources: https://discover.hubpages.com/food/Why-you-should-order-your-fast-food-burgers-plain, https://www.reddit.com/r/food/comments/am97gy/homemade_plain_burger/, https://www.reddit.com/r/food/comments/cku9sn/homemade_plain_double_hamburger/, https://www.youtube.com/watch?v=-f3xtWvOopg -->
<div class="grid-container">
    <div class="product-display">
        <h1 class="product-name">Burger</h1>
        <img src="~/images/menu/burger-menu/burger.jpg" alt="Burger" />
        <div class="product-details">
            <h3 class="product-price">$5.00-$6.00-$6.50</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Cheese Burger</h1>
        <!-- Source: https://www.reddit.com/r/food/comments/am97gy/homemade_plain_burger/ -->
        <img src="~/images/menu/burger-menu/cheese-burger.jpg" alt="Cheese Burger" />
        <div class="product-details">
            <h3 class="product-price">$6.00-$6.50-$7.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Double Burger</h1>
        <!-- Source: https://www.reddit.com/r/food/comments/cku9sn/homemade_plain_double_hamburger/ -->
        <img src="~/images/menu/burger-menu/double-burger.png" alt="Double Burger" />
        <div class="product-details">
            <h3 class="product-price">$7.00-$7.50-$8.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Double Cheese Burger</h1>
        <!-- Source: https://www.youtube.com/watch?v=-f3xtWvOopg -->
        <img src="~/images/menu/burger-menu/double-cheese-burger.jpg" alt="Double Cheese Burger" />
        <div class="product-details">
            <h3 class="product-price">$8.00-$8.50-$9.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/product-menu.css" />


