@{
    ViewData["Title"] = "Drinks Menu";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- Assisted by: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named -->
<div class="grid-container">
    <div class="product-display">
        <h1 class="product-name">Water</h1>
        <!-- Source: https://www.snapdeal.com/product/aquafina-packaged-drinking-water-1/686224394571 -->
        <img src="~/images/menu/drink-menu/water.jpg" alt="Water" />
        <div class="product-details">
            <h3 class="product-price">$2.00-$2.50-$3.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Coca-Cola</h1>
        <!-- Source: https://www.londondrugs.com/coke---1l/L0082412.html -->
        <img src="~/images/menu/drink-menu/coke.jpg" alt="Coke" />
        <div class="product-details">
            <h3 class="product-price">$3.50-$4.00-$4.50</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Pepsi</h1>
        <!-- Source: https://www.londondrugs.com/pepsi---soft-drink---591-ml/L6801856.html -->
        <img src="~/images/menu/drink-menu/pepsi.jpg" alt="Pepsi" />
        <div class="product-details">
            <h3 class="product-price">$3.50-$4.00-$4.50</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Diet Coke</h1>
        <!-- Source: https://www.walmart.com/ip/Diet-Coke-Soda-20-Fl-Oz/10535201 -->
        <img src="~/images/menu/drink-menu/diet-coke.jpg" alt="Diet Coke" />
        <div class="product-details">
            <h3 class="product-price">$4.00-$4.50-$5.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Diet Pepsi</h1>
        <!-- Source: https://www.ldproducts.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/3/0/3000_1029764012.jpg -->
        <img src="~/images/menu/drink-menu/diet-pepsi.jpg" alt="Diet Pepsi" />
        <div class="product-details">
            <h3 class="product-price">$4.00-$4.50-$5.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">7UP</h1>
        <!-- Source: https://www.homeshop.ph/7up-regular-soda-500ml -->
        <img src="~/images/menu/drink-menu/7up.jpg" alt="7UP" />
        <div class="product-details">
            <h3 class="product-price">$3.50-$4.00-$4.50</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
    <div class="product-display">
        <h1 class="product-name">Ginger Ale</h1>
        <!-- Source: https://lemoulindeprovence.com/products/schweppes-ginger-ale-591ml -->
        <img src="~/images/menu/drink-menu/ginger-ale.png" alt="Ginger Ale" />
        <div class="product-details">
            <h3 class="product-price">$4.00-$4.50-$5.00</h3>
            <h3 class="product-sizes">Small-Medium-Large</h3>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/product-menu.css" />


