@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Heavily assisted by https://getbootstrap.com/docs/4.1/components/carousel/ -->
<div id="popularItemsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#popularItemsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#popularItemsCarousel" data-slide-to="1"></li>
        <li data-target="#popularItemsCarousel" data-slide-to="2"></li>
        <li data-target="#popularItemsCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Source: https://yesofcorsa.com/pepperoni-pizza/ -->
            <img class="d-block w-100" src="~/images/index/pepperoni-pizza.jpg" alt="Pepperoni pizza">
        </div>
        <div class="carousel-item">
            <!-- Source: https://www.tripadvisor.ca/LocationPhotoDirectLink-g155019-d8460552-i153287670-Jz_s_Pizza-Toronto_Ontario.html -->
            <img class="d-block w-100" src="~/images/index/all-dressed-pizza.jpg" alt="All-dressed pizza">
        </div>
        <div class="carousel-item">
            <!-- Source: https://bellassubpizza.com/product/16-large-cheese-pizza/ -->
            <img class="d-block w-100" src="~/images/index/cheese-pizza.jpg" alt="Cheese pizza">
        </div>
        <div class="carousel-item">
            <!-- Source: https://www.wallpaperbetter.com/food-wallpaper/veggie-pizza-3090 -->
            <img class="d-block w-100" src="~/images/index/vegetarian-pizza.jpg" alt="Vegetarian pizza">
        </div>
    </div>
    <a class="carousel-control-prev" href="#popularItemsCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#popularItemsCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

