@{
    ViewData["Title"] = "Side Menu";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- Assisted by: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named -->
<!-- Image Sources: https://www.delish.com/cooking/recipe-ideas/a28349714/double-fried-french-fries-recipe/ -->
<div class="grid-container">
    <div class="product-display">
        <h1 class="product-name">French Fries</h1>
        <!-- Source: https://www.delish.com/cooking/recipe-ideas/a28349714/double-fried-french-fries-recipe/ -->
        <img src="~/images/menu/side-menu/french-fries.jpg" alt="French Fries" />
        <div class="product-details">
            <h3 class="product-price">$4.00-$4.50-$5.00-$5.50</h3>
            <h3 class="product-sizes">Small-Medium-Large-Huge</h3>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/product-menu.css" />


