.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 5em;
}

.product-display {
    position: relative;
}

.product-name {
    text-align: center;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
