@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">

        <li class="nav-item">

            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Cart">Cart</a>

        </li>

    </ul>
}

